.page-setting-content {

  // banner广告
  .draw-user-info-box {
    position: relative;

    .draw-user-info-box-img {
      width: 7.5rem;
      height: .96rem;
      background-size: cover;
      line-height: .96rem;
      padding-left: .62rem;
      padding-right: .42rem;
      display: flex;
      justify-content: space-between;

      .my-point {
        height: .96rem;
        line-height: .96rem;

        .title {
          height: .36rem;
          line-height: .4rem;
          font-size: .22rem;
          font-weight: 400;
          color: #FFFFFF;
          margin-right: .16rem;
          display: inline-block;
        }

        .point {
          font-size: .3rem;
          font-weight: normal;
          color: #FFF08E;
          height: .36rem;
          line-height: .36rem;
          display: inline-block;
          vertical-align: middle;
        }
      }

      .remain-num {
        font-size: .24rem;
        font-weight: 400;
        color: #FFFFFF;
      }
    }

    // 自适应图片
    .common-img-css {
      width: 100%;
      margin: auto;
      zoom: 1;
    }
  }
}
