.page-setting-content {

  .notice-box {
    border-radius: .08rem;
    margin: .16rem 0rem;

    // .am-notice-bar {
    //   height: .46rem;
    //   line-height: .46rem;
    //   border-radius: .08rem;
    // }

    // .am-notice-bar-content {
    //   margin-left: .12rem;
    // }

    // .am-notice-bar-icon {
    //   margin-left: .12rem;
    // }

    // svg {
    //   width: .32rem;
    //   height: .32rem;
    //   color: #437DFF;
    // }

    .pad_right {
      padding-right: 5rem;
    }

    #marquee-content-id {
      pointer-events: none;
    }

    .marquee-content {
      height: .46rem;
      line-height: .46rem;
      border-radius: .08rem;

      .notice-bar-icon {
        width: .5rem;
        float: left;
        text-align: center;

        svg {
          width: .32rem;
          height: .32rem;
          color: #437DFF;
          margin-top: .07rem;
        }
      }

      #scroll_div {
        overflow: hidden;
        white-space: nowrap;
        border-radius: .08rem;


      }
    }


    #scroll_begin,
    #scroll_end {
      display: inline;
    }

  }

}
