// .channel-manage-content {

// 游客登录
.tourist-login-box {
  position: relative;
  @color: #FF6232; //默认色调

  .login-con {
    padding-bottom: 0.48rem;
    background: #fff;
    margin-bottom: 0.2rem;

    p {
      padding: 0.48rem 0;
      font-size: .28rem;
      color: #666;
      text-align: center;

      .login-text {
        font-size: 0.32rem;
        color: #000;
        cursor: pointer;
        margin: 0 0.08rem;
        font-weight: bold;
      }
    }

    .login-btn {
      width: 6.84rem;
      height: 0.88rem;
      color: #fff;
      background: @color;
      font-size: 0.36rem;
      line-height: 0.88rem;
      text-align: center;
      border-radius: 0.08rem;
      border: none;
      margin-left: 0.35rem;
    }
  }

  .exchange-phone-con {
    padding: 0 0.36rem;
    height: 0.96rem;
    width: 100%;
    line-height: 0.96rem;
    background: #fff;
    box-sizing: border-box;

    .bind-phone {
      font-family: "Helvetica";
      font-size: 0.32rem;
      color: #222;
    }

    .changephone {
      font-size: 0.24rem;
      color: #666;
      float: right;
    }
  }
}

// }
