.page-setting-content {

  // banner广告
  .banner-advertising-box {
    position: relative;
    margin-top: .16rem;

    .banner-advertising-box-img {
      width: 100%;
    }

    .two-module {
      width: 50%;
    }

    .three-module {
      width: 33.333%;
    }

    .banner-advertising-box-img img {
      width: 100%;
    }

    .one-two {
      width: 100%;
    }

    .one-two .row {
      display: flex;
      flex-wrap: wrap;
    }

    .one-two .row .top-item {
      width: 50%;
    }

    .one-two .row .item img {
      width: 100%;
      display: block;
      line-height: 1;
    }

    .one-two .row .row .item {
      margin-right: 0;
    }

    .one-two .row .row .item:first-child {
      margin-right: 0;
    }


    // 自适应图片
    .common-img-css {
      width: 100%;
      margin: auto;
      zoom: 1;
    }
  }
}
